
<app-header1></app-header1>

<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
      <a class="navbar-brand text-bold" href="#">
          <img src="https://www.easyinternships.in/images/logo.png" width="150" alt="logo">
          <!-- <span class="text-uppercase">Easyinternships</span> -->
      </a>
      <button type="button" class="btn btn-primary" (click)="UserLoginRegister()"><i class="fa fa-google" aria-hidden="true"></i> Login / Register</button>

  </div>
</nav>


<div class="container bg-light py-5">
  <h1 class="display-5 fw-bold">Welocme to Easyinternships.in</h1>
  <p class="col-md-8 fs-4">Here you are going to test your skills</p>
  <h4>Rules:</h4>
  <ol>
      <li>Your Public IP <b>{{ ipAddress }}</b></li>
      <li>Correct Question gives you + points</li>
      <li>Incorrect Question gives you - points</li>
      <li>You will have 30 sec to answer each question</li>
      <li>Refereshing the page will reset the Quiz</li>
      <li>If spoof detected  the quiz will automatically close</li>
  </ol>
  <h1 style="font-family: cursive;text-align:center">All the best!!</h1>
  <!-- <div class="name col-md-4 my-3">
      <label for="">Enter your name:</label>
      <input #name type="text" class="form-control">
  </div>
  <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">Start the Quiz!!</button> -->


</div>


<app-footer1></app-footer1>
